/* #region Color Palette */
:root{
    --discord-primary: rgba(49, 97, 224, 1);
    --discord-lighter:rgba(255, 255, 255, 1);
    --discord-light:rgba(246, 246, 246, 1);
    --discord-dark:rgba(35, 39, 42, 1);
    --discord-text:rgba(142, 161, 225, 1);
}
/* #endregion Color Palette */

/* #region debug */

/* .debug #site_header{
    height: 50px;
}

.debug #site_main{
    height: 1200px;
}

.debug #site_footer{
    height: 350px;
}


.debug #section_banner{
    height: 200px;
}

.debug #banner{
    height: 150px;
}


.debug .section_group{
    height: 200px;
}

.debug .section_meet{
    height: 200px;
}

.debug .section_fandom{
    height: 200px;
}

.debug .group{
    height: 150px;
}

.debug .meet{
    height: 150px;
}

.debug .fandom{
    height: 150px;
}

.debug #bottom_section{
    height: 400px;
}

.debug .keep_in_touch{
    height: 350px;
}

.debug .cont-footer{
    height: 300px;
}

.debug header, .debug main, .debug footer, .debug div{
    border: 2px solid black;
} */

/* #endregion debug */

/* #region Common_rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 75%;
    margin: auto;
    display: flex;
}

a{
    text-decoration: none;
    color: var(--discord-lighter);
}

button{
    border-radius: 1rem;
    padding: 0.4rem;
}

.login, #mac_dl{
    border: 1px solid var(--discord-light);
}

h2{
    padding: 5% 0;
}

.wave{
    background-image: url(../img/wave.svg);
    height: 3rem;
    width: 100%;
}

.wave-reverse{
    transform: rotate(180deg);
}

h3, h5{
    padding: 3% 0;
    color: var(--discord-text);
}

li{
    list-style: none;
    font-size: 12px;
    padding: 2%;
    color: var(--discord-lighter);
}

.d-button{
    background-color: var(--discord-text);
    color: var(--discord-lighter);
    border: 1px solid var(--discord-text);
}


/* #endregion Common_rules */

/* #region Header */

header{
    background-color: var(--discord-primary);
    display: flex;
    padding: 1% 0;
}

header > .container{
    background-color: var(--discord-primary);
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* #endregion Header */

/* #region Main */

/* #region Main-sections */

#section_banner{
    background-color: var(--discord-primary); 
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
}

.section_group, .section_fandom{
    background-color: var(--discord-lighter);
}

.section_meet, #bottom_section{
    background-color: var(--discord-light);
}

/* #endregion Main-sections */

/* #region banner */
#banner{
    width: 60%;
    margin: auto;
    text-align: center;
    color: var(--discord-lighter);
    padding-top: 2%;
    padding-bottom: 5%;
}

h1{
    padding: 1rem;
}

#banner > p{
    padding-bottom: 1rem;
}


#open_browser{
    background-color: var(--discord-dark);
    color: var(--discord-lighter);
    margin-left: 1rem;
    border: 1px solid var(--discord-dark);
}

/* #endregion banner */

/* #region sections_group_meet_fandom */



.group, .meet, .fandom{
    padding: 5% 0;
}

.group > img, .meet > img, .fandom > img{
    background-color: var(--bool-container-img);
    width: 65%;
}

.text{
    background-color: var(--bool-container-text);
    width: 35%;
}

.meet{
    flex-direction: row-reverse;
}



/* #endregion sections_group_meet_fandom */

/* #region bottom_section */

#bottom_section > .keep_in_touch{
    display: block;
    text-align: center;
    padding: 5%;
}

.keep_in_touch > img{
    max-width: 85%;
}

h4{
    padding: 3% 0;
    background-image: url(../img/stars.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}


/* #endregion bottom_section */

/* #endregion Main */


/* #region Footer */

footer{
    background-color: var(--discord-dark);
    padding: 4%;
}

#site_footer > .container{
    display: block;
}

/* Footer top */
#footer_top{    
    height: 85%;
    border-bottom: 1px solid var(--discord-text);
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
}

#social{
    width: 30%;
    padding: 0 1%;
}

.language{
    color: var(--discord-lighter);
    padding: 5% 0%;
    font-size: 12px;
}

.language > img{
    max-width: 1rem;
}

.info{
    width: calc(70% / 4);
    padding: 0 1%;
}

/* Footer bottom */
#footer_bottom{ 
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_bottom > .d-button{
    font-size: 12px
}



/* #endregion Footer */